{% extends "index.html" %}

{% bolck content %}

<input class="submit_btn button" type="button" onclick="convert_show" style="display:block"/>
<label class="button" for="convert" id="upload__button">변환</label>
<input type="button" id="convert" onclick="convert_show();" />

<script>
    function convert_show() {
        function display_image(src, alt) {
        let a = document.createElement("img");
        a.src = src;
        a.alt = alt;
        document.body.appendChild(a);
    }
    display_image('solidraw/static/img/after.png','변환된 도면');}
  </script>

{% endblock %}